body {
  margin: 0;
  background: #ffd23f;
  height: 100%;
}

.sushi-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border: 10px solid #FDCB29;
  box-sizing: border-box;

  svg {
    width: 100%;
  }

  .heading {
    color: #000;
    font-family: raleway, sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
}




